name: OpenVPN Python component CI
on: [push, pull_request]

jobs:
  test:
    runs-on: macos-latest
    env:
      MYTOKEN : ${{ secrets.MYTOKEN }}
      MYTOKEN2: "value2"
    steps:
    - uses: actions/checkout@v2
    - name: Test in FreeBSD
      id: test
      uses: vmactions/freebsd-vm@v0.1.2
      with:
        envs: 'MYTOKEN MYTOKEN2'
        usesh: true
        prepare: pkg install -y curl py37-pip
        run: |
          pip install -r requirements-dev.txt
          python test_duo_openvpn.py
          whoami
          env
          freebsd-version

